html
  head
    title='HDS Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 DevOps Demo - change 4d!!!
        h2 now with automated build trigger v1
        h3 I cant believe it finally f***ing works
        h4 now with tagging across Git, Docker and Mesosphere
        h5 proudly showing Anil what we have achieved
        h6 now with pipeline plugin, 4th try
        p